
.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(38, 37, 37, 0.5);
    color: gold;
    font-family: fantasy;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="rePassword"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large;
}

button:hover {
    background-color: green;
}

a{
    color: gold;
}
a:hover{
    color: green;
}