
    <ng-container *ngIf="!!isEmpty && isLoggedIn">
       <div class="card-container">
  <div *ngFor="let cocktail of cocktails" class="card">
    <img src="{{cocktail.imageURL}}" 
    alt="{{cocktail.name}}">
    <div class="card-content">
        <h1>{{cocktail.name}}</h1>
        <p>Ingredients: {{cocktail.ingredients}}</p>
        <p>Likes: {{cocktail.likes.length || 0}}</p>
<a [routerLink]="['/view/cocktails', cocktail._id]">Details</a>
    </div> 
    
    <ng-container *ngIf="!isEmpty && isLoggedIn">
           <div class="card-noCocktails" style="display: block;">
        <h1>Sorry, there are no cocktails at this time.</h1>
        <p>Let's get our groove on and make some magic!</p>
        <a routerLink="/view/create-cocktail">Create a drink</a>
    </div>  
    </ng-container>

</div>

</div>
