.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: fantasy;
    color: black;
    
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    color: #333;
}

.card-content p {
    margin: 10px 0;
    color: #666;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}
h1 {
    font-size: 24px;
    color: gold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: gold;
}