<header>
    <nav>
        <ul>
            <li>
            <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/cocktails">Dashboard</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
            <li>
                <a routerLink="/create-cocktail">Create a drink</a>
            </li>

        </ul>
    </nav>
</header>