<header>
    <nav>
        <ul>
            <li>
            <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/view/cocktails">Dashboard</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/auth/login">Login</a>
            </li>
            <li *ngIf="isLoggedIn" (click)="logout()">
                <a>Logout</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/auth/register">Register</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a routerLink="/view/create-cocktail">Create a drink</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a routerLink="/auth/profile">Profile</a>
            </li>
            <li >
                <!-- <a routerLink="/view/search">Search</a> -->
            </li>

        </ul>
    </nav>
</header>